# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
env.bak/
venv.bak/

# Pytest
.pytest_cache/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Logs
*.log
